.seluruh-page {
    display: flex;
    height: 97vh;
}
.bagian-kiri{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.bagian-kanan{
  width: 40%;
}

.form{
    width: 500px;
}
.flex{
    display: flex;
    flex-direction: column;
    float:left;
    margin-left: 100px;
    margin-bottom: 20px;
    width:350px;
    overflow-y: scroll;
    max-height: 500px;
    transition: 0.5s;
}
.flex-item{

  padding-bottom: 10px;
  padding-top: 10px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  transition: 0.6s;

}

.flex-item:hover {
    z-index: 1;
    margin-bottom: 20px;
    box-shadow: 0 20px 20px -10px rgba(0,0,0,0.75);

}

#input-list form{
    background: #FCFDFE;
    width: 400px;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 1;
    border-radius: 15px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    /*box-sizing: border-box;*/
    /*position: relative;*/
    }

#my-list .my-list-title{
    font-size: 40px;
    margin-bottom: 1em;
    color: black;
    text-align: center;
    text-transform: uppercase;
}
.to-do-list{
    border-top: 50px;
}
.to-do-list .to-do-list-title {
    background-color: grey ;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding: 10px 10px 0;
    text-transform: capitalize;
}
.to-do-list .to-do-list-date-added {
    background-color: grey;
    font-size: 12px;
    padding: 0 10px;
    text-align: center;
}
.to-do-list .to-do-list-description {
    font-size: 25px;
    /*opacity: 0;*/
    padding: 0px 25px;
    z-index: 15;
    background: #fff;
    height: 40px;
    text-align: center;
    overflow: auto;

} 
.container-add-friend {
    width: 100%;
}
body{
    background-image: url('https://i.pinimg.com/564x/e0/73/51/e0735152003dcbaf634279d906a8e419.jpg')

    
}

textarea {
    resize:none
}

footer p{
    text-align: center;
    padding-top: 10px;
}

@media only screen and (max-width: 768px) {
    #input-list form {
        width: 0;
    }
    .to-do-list .to-do-list-delete {
        bottom: 0px;
    }
    .flex-item{
        padding: 0 15px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
    }
}






@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

.container{
    width: 100%;
}

.navbar-brand a{
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
}
.navbar-brand:hover a{
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
}


#navbar{
    background-color: black;
    position: fixed;
    width: 100%;
}

#navbar ul{
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  zoom: 1;
  width: 1370px;
  text-align: center;
}
#navbar ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#navbar ul li {

  display: inline-block;
  padding: 0;
  margin: 0;
}
.navbar.align-right ul li {
  float: right;
}
#navbar.align-center ul {
  text-align: center;
}
#navbar ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#navbar ul li a:hover {
  color: rgb(212, 212, 212);

}
#navbar ul li a:hover:before {
  width: 100%;
}
#navbar ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#navbar ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: rgb(212, 212, 212);
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#navbar ul li.last > a:after,
#navbar ul li:last-child > a:after {
  display: none;
}
#navbar ul li.active a {
  color: rgb(212, 212, 212);
}
#navbar ul li.active a:before {
  width: 100%;
}

#navbar.align-right li.last > a:after,
#navbar.align-right li:last-child > a:after {
  display: block;
}
#navbar.align-right li:first-child a:after {
  display: none;
}
.footer {
    display: block;
    margin-top: 5px;
    padding-top: 6px;
    font-size: 15px;
    position: relative;
  }
@media screen and (max-width: 768px) {
  #navbar ul li {
    float: none;
    display: block;
  }
  #navbar ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #navbar ul li.last > a,
  #navbar ul li:last-child > a {
    border: 0;
  }
  #navbar ul li a:after {
    display: none;
  }
  #navbar ul li a:before {
    display: none;
  }
}

.input-status{
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
    z-index: -1;
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative;
}

.namaku{
  color: grey;
  font-size: 25px;
  text-align: center;
}

.container-status{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: 200px;
    width : 1110px;
    overflow-y: scroll;
    max-height: 400px;

}
.status-item{
  width: 30%;
  background-color: black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 15px;
  
}
.status-list{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  padding: 10px 10px 0;
  text-transform: capitalize;

}
.status-list-date{
  color: grey;
  font-size: 12px;
  padding: 0 10px;
  text-align: center;
}
.status-list-status{
  font-size: 15px;
  z-index: 15;
  color: black;
  height: 100px;
  width: 100%;
  text-align: center;
  overflow: auto;
  background-color: white;
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px;
}

