@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Belgrano|Gabriela|Homemade+Apple|Signika+Negative');

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-static-top {
  margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}

/*body {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background: white;
}*/

.title {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 15px;
  width: 100%;
  font-size: 35px;
  background: black;
}

.title h5{
  padding-bottom: 10px;
  color: rgba(112, 111, 111, 0.788);
}

.profile-picture img{
  display: block;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto 10px;
}
.profile-picture .nama{
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  font-size: 40px;
  color: white;
}
/** profile & foto **/

.profile-table{
  margin: auto;
  margin-top: 20px;
  padding-right: 30px;
  font-size: 18px;
  width: 500px;
  background-color: white;
  border-radius: 40px;
  border-spacing: 10px;
  border-collapse: separate;
  text-align: center;

}

.subject{
  padding-right: 20px;
  padding-left: 50px;
  padding-bottom: 5px;
  text-align: right;
}

.value{
  font-size: 18px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
  text-align: left;
}
