{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <title> 
       Dashboard
    </title>
</head>

<body>
    <header>
        <!-- templates/lab_5/partials/header.html -->
        <nav class="navbar navbar-default">
          <div class="container">  
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
        </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="navbar-brand"><a href="{% url 'update_status:index' %}">Lingin</a></div>
              <ul>
                <li><a href="{% url 'update_status:index' %}">Status</a> </li>
                <li><a href="{% url 'halaman_profile:index' %}">Profile</a></li>
                <li><a href="{% url 'add_friend:index' %}">Friends</a> </li>
                <li class="active"><a href="{% url 'dashboard:index' %}">Dashboard</a> </li>
              </ul>
            </div><!--/.nav-collapse -->
        </nav>
    </header>

    <content>
        <div class="container">
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
    </content>

    <footer class="footer">
        <div>&copy; Made by Project Kita</div>
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>