@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Belgrano|Gabriela|Homemade+Apple|Signika+Negative');

.judul{
	font-family: 'Alfa Slab One', cursive;
	font-size: 40px;
	color: Black;
	text-align: center;
}

#terluar{
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: 30%;
	margin-right:30%;
	background-color: black;
	border-radius: 100px;
	text-align: center;
	box-shadow: 10px 10px 10px;
}

img{
	border-radius: 50%; 
	margin: 0px 30px 15px 0px;
}

.nama_dashboard{
	font-family: 'Alfa Slab One', cursive;
	font-size: 30px;
	color: White;
}

.blokB{
	display: inline; 
	margin-right: 50px; 
	font-size: 20px; 
	padding-left:30px;
	font-family: 'Alfa Slab One', cursive;
	font-size: 20px;
	color: White;
}

.panel{
	padding: 10px 10px 10px 10px; 
	border-width:2px; 
	font-family: Comic Sans MS; 
	width:400px; 
	display: inline-block;
}

.nama_status{
	font-family: 'Alfa Slab One';
	font-size: 20px;
	color: Black;
}