{% extends "add_friend/layout/base.html" %}

    {% block content %}
<div class="seluruh-page">
    <div class="bagian-kiri" style="float:left">
	<section name="form", id="input-list">
        <div class="containerd">
        <form id="form" method="POST" action="{% url 'add_friend:add_friend'%}">
            <h2>add new friends here!</h2>
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button id="submit" type="submit" class="btn btn-lg btn-block btn-info" style="background: aqua">Add</button>
            <br>
        </form>
        </div>
    </section>
    </div>
    <div class="bagian-kanan" style="float : right">
    <section name="my-list" id="my-list">
    
        <h2 class="my-list-title">my friend</h2>
        <div class="flex">
                {% for data in message %}
                    <div class="flex-item">
                        <div class="to-do-list">
                            <div class="to-do-list-title">
                                {{data.name}}
                            </div>
                            <div class="to-do-list-date-added">
                                {{data.created_date}}
                            </div>
                            <div class="to-do-list-description"><a href="{{data.url}}">
                                {{data.url}}</a>
                            </div><!-- 
                            <div class="to-do-list-delete">
                                <div class="to-do-list-delete-button">Delete</div></a>
                            </div> -->
                        </div>
                    </div>
                {% endfor %}
        </div>
    
    </section>
</div>
</div>
    {% endblock %}
