<style>
.container{
	height: 260px;
}

.jumbotron{
	background-color: #214493;
}

.navbar-default .navbar-nav > li { padding: 0px 0px 0px 10px; }
.navbar-default .navbar-nav > li > a {font-family: Comic Sans MS; transition: 0.4s;}
.navbar-default .navbar-nav > .active > a{background-color: #CD2D31; color: white;}

.navbar-default .navbar-nav > li > a:hover { background-color: #CD2D31 !important; color: white !important;}

</style>
<div class="container">
  <div class="jumbotron" style="background-color: #214493;">
    <h1 style="color: white; font-family: Comic Sans MS; font-size: 60px; margin:0px 0px 0px 0px;">Ling In</h1>
	<nav class="navbar navbar-default" style="margin:30px 0px 0px 0px; border-color: #2C2C2C; border-radius: 0%; box-shadow: 10px 10px 10px black;">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right" style="font-size: 20px;">
        {% if request.get_full_path == "/" %} <li class="active"><a href="#"><b>Status</b></a></li> 
			{% else %} <li><a href="#"><b>Home</b></a></li> {% endif %}
		{% if request.get_full_path == "/account/login/" %} <li class="active"><a href="#"><b>Profile</b></a></li> 
			{% else %} <li><a href="#"><b>Profile</b></a></li> {% endif %}
		{% if request.get_full_path == "/account/login/" %} <li class="active"><a href="/add-friend/"><b>Friends</b></a></li> 
			{% else %} <li><a href="#"><b>Friends</b></a></li> {% endif %}
		{% if request.get_full_path == "/dashboard/" %} <li class="active"><a href="#"><b>Stats</b></a></li>
			{% else %} <li><a href="#"><b>Stats</b></a></li> {% endif %}
      </ul>
    </div>
  </nav>
  </div>
  
</div>