{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load static %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/halaman_profile.css' %}" />  
<body>
<div class="halaman-profile">
    <div class="title">
        <h5>PROFILE</h5>
        <div class="profile-picture">
            <img src="https://i.pinimg.com/564x/c3/36/7f/c3367fd7df9d650ef5648fb8e3233cf7.jpg" alt="my-image">
            <h1 class="nama">{{profile_name}}</h1>
        </div>
    </div> 
<!-- profile & foto -->

    <div class ="profile-info">
        <table class="profile-table">
            {% for bio in bio_dict %}
                <tr>
                    <td class="subject"> <strong>{{ bio.subject }}</strong></td>
                    <td class="value"> {{ bio.value }} </td>
                </tr>
            {% endfor %}
        </table>
    </div>     
</div>
</body>

{% endblock %}