{% extends "dashboard/layout/base.html" %}
{% block content %}
{% load static%}

<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}" />  
<h2 class="judul">Statistic</h2>
<div id="terluar">
	<h2 class="nama_dashboard"><img src="https://i.pinimg.com/564x/c3/36/7f/c3367fd7df9d650ef5648fb8e3233cf7.jpg" height="230" width="230"></img>{{name}}</h2>
	<div>
		<p class="blokB">Friends :  {{friends}} People</p>
		<p class="blokB">Feed :  {{post}} Post</p>
	</div>
	<br>
	<h2 class="judul" style="font-size: 30px; color: white;">Latest Post</h2>
		<br>
		<div class="panel">
			<h4 class="nama_status"><img style="border-radius: 50%; margin: 0px 30px 0px 0px; "src="https://i.pinimg.com/564x/c3/36/7f/c3367fd7df9d650ef5648fb8e3233cf7.jpg" height="70" width="70"></img>{{name}}</h4>
			<hr size="100px" color="red">
			<h4><b>{{status.status}}</b><h4>
			<p style="color: grey">{{status.created_date}}</p>
		</div>
</div>

{% endblock %}