{% extends "update_status/layout/base.html" %}
{% block content %}


<form method="POST" action="{% url 'update_status:add_status' %}">
    <div style="width: 100%;background: white;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  position: relative;">
        <!-- <div class="form"> -->
            <h2>What's New?</h2>
            {% csrf_token %}
            {{ todo_form }}
          
            <br>
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
            <br>  
        </div>
        <!-- </div> -->
</form>

<div class="container-status">
    {% for data in todo %}
    <div class="status-item">
        <div class="namaku">{{namaku}}
        <div class="status-list-date">{{data.created_date}}</div></div>
                        <div class="status-list">
                            <div class="status-list-status">
                                {{data.status}}
                            </div>
                        </div>
                    </div>
     {% endfor %}
 </div>
   


{% endblock %}
